* {
    margin: 0;
    box-sizing: border-box;
}


.imagen-ports > img{
    max-width: 680px;
    max-height: 680px;
    margin-top: 1px;
    margin-bottom: 35px;
    margin-left: 300px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* Header */

header {
    width: 100%;
    height: 350px;
    background: #f6f6f6;
    height: 16%;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.hempaLogo{
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    margin-left: 75%;
}

nav{
    width: 30%;
    display: inline-flex;
    text-align: center;
    padding: 30px 50px 0 0;
    margin-left: 70px;
}
nav img{
    max-width: 60px;
    max-height: 60px;
}

.nav-aa{
    margin-top: 8px;
    font-family: 'Great Vibes', cursive;
}

.nav-a{
    font-family: 'Great Vibes', cursive;
}

nav > a{
    color:rgb(0, 0, 0);
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30%;
}

nav > a:hover{
    color: black;
    text-decoration: underline;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    
color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
    display: flex;
    margin-left: 16%;
}
.contenedor-sobre-nosotros{
    display: flex;
}

.imagen-uno{
    width: 70%;
}

.imagen-dos{
    width: 60%;
}

.imagen-tres{
    width: 60%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}


.contenido-textos h3 {
    font-size: 20px;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif; 
    display: inline-block;
    font-weight: 100;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}   

.contenido-textos h1 {
    font-size: 25px;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif; 
    font-weight:500;
   
}   

/* Galeria */

.galeria-portt{
    display: flex;
    justify-content:space-between;
    background-color: #ffffff;
}

.galeria-port{
    display: flex;
    justify-content:space-between;
    background-color: #deebbd;
}

.imagen-port{
    height: 150px;
    width: 15%;
    margin-bottom: 5px;
    position: relative;
}

.imagen-port > img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    display: block;
}

/* footer */

footer{
    background-color: #f6f6f6;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(114, 114, 114);
}


.content-foo{
    text-align: center;
}


.titulo-final{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    background-color: #c5ccb2;
}
